<% include header %>
<% include main-nav %>


  <div class="app">
    <div class="appInner">
  <h1><%-title %></h1>
  <p>Welcome to <%-title %></p>
  
  <div>
    <div class="formRow">
      Do remember these content as it will be required to update your will
    </div>
  </div>
  <form>
    <div class="formRow">
      <div>
        Name of Person creating Will
      </div>
      <div>
        <input type="text">
      </div>
    </div>
    <div class="formRow">
      <div>
        Enter password for Will
      </div>
      <div>
        <input type="password">
      </div>
    </div>
    <div class="formRow">
      <div>
        Re-Enter password for Will
      </div>
      <div>
        <input type="password">
      </div>
    </div>
    <div class="formRow">
      <div>
        Mobile number (optional) for 2fa
      </div>
      <div>
        <input type="password">
      </div>
    </div>
    <div>
      <a href="/will-instruction">
        <div>Proceed & Save Will</div>
      </a>
    </div>
  </form>
    </div>
  </div>

<% include footer %>