<% include header %>
<% include main-nav %>

  <div class="app">
    <div class="indexHero">
      
    </div>
    <div class="appInner">
      <div>
        Feature:
        - Secure Will creation
        - Ability to safely redistribute will
        - Unlock Will only after a specific time
        - Unlock Will if certain third party conditions are met
        - Unlock Will 
        - Distribute will among different trusted party
        - Secure will storage on the blockchain
        - Cheap Will creation without requirements of getting a lawyer
        - Lock various asset type behind will
      </div>
  
    </div>
  </div>
<% include footer %>