<div class="header">
  <div class="headerInner">
    <div class="headerLogo">
      <a href="/">Crypto<span>Will</span></a>
    </div>
    <div class="headerNav">
      <div class="headerNavEntry">
        <a href="/create-will">Create Will</a>
      </div>
      <div class="headerNavEntry">
        <a href="/update-will">Update Will</a>
      </div>
      <div class="headerNavEntry">
        <a href="/redeem-will">Redeem Will</a>
      </div>
      <div class="headerNavEntry">
        <a href="/how-it-works">How it works</a>
      </div>
      <div class="headerNavEntry">
        <a href="/customer-support">Customer Support</a>
      </div>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </div>
</div>