<% include header %>
<% include main-nav %>

  <div class="app">
    <div class="appInner">
      <div class="formRow">
        <div>
          Will Content
        </div>
        <div>
          <textarea id="willContent"></textarea>
        </div>
      </div>
    </div>
  </div>
<% include footer %>