<% include header %>
<% include main-nav %>

  <div class="app">
    <div class="appInner">
      <div>
        <div class="formRow">
          Will saved but not paid will be kept for 60 days, after which they will be deleted from the system.
        </div>
      </div>
      <div class="formRow">
        <div>
          Name of Person creating Will
        </div>
        <div>
          <input type="text">
        </div>
      </div>
      <div class="formRow">
        <div>
          Enter password for Will
        </div>
        <div>
          <input type="password">
        </div>
      </div>
      <div>
        <a href="/update-will-details">
          <div>submit</div>
        </a>
      </div>
    </div>
  </div>
<% include footer %>