<% include header %>
<% include main-nav %>

  <div class="app">
    <div class="appInner">
    <h1><%-title %></h1>
    <p>Welcome to <%-title %></p>
    
    <div>
      Will Summary
    </div>
    <div class="appWillSummary">
      <div class="formRow">
        <div>
          Will Id:
        </div>
        <div>
          XXX
        </div>
      </div>
      <div class="formRow">
        <div>
          Will creator:
        </div>
        <div>
          XXX
        </div>
      </div>
      <div class="formRow">
        <div>
          Mobile Number:
        </div>
        <div>
          XXX
        </div>
      </div>
      <div class="formRow">
        <div>
          Will type:
        </div>
        <div>
          Others
        </div>
      </div>
      <div class="formRow">
        <div>
          Will instructions:
        </div>
        <div>
          XXX
        </div>
      </div>
      <div class="formRow">
        <div>
          Will keys:
        </div>
        <div>
          10
        </div>
      </div>
      <div class="formRow">
        <div>
          Will key num to unlock:
        </div>
        <div>
          6
        </div>
      </div>
      <div class="formRow">
        <div>
          Will keys stored by user:
        </div>
        <div>
          7
        </div>
      </div>
      <div class="formRow">
        <div>
          Will keys stored by company:
        </div>
        <div>
          3
        </div>
      </div>
      <div class="formRow">
      <div>
        <a href="/will-confirmation">
          <div>
            Create will
          </div>
        </a>
      </div>
      </div>
    </div>
  </div>
  
<% include footer %>