<% include header %>
<% include main-nav %>

  <div class="app">
    <div class="appInner">
  <h1><%-title %></h1>
  <p>Welcome to <%-title %></p>
  
  
  <div>
    Your Will has been created
  </div>
  <div>
    It is attached to the public blockchain at XXXXX
  </div>
  
  <div>
    Print out your will receipt
  </div>
  <div>
    Will receipt as PDF
  </div>
    </div>
  </div>
  
<% include footer %>